# 100 Ejercicios de Pandas

Bienvenido a los 100 ejercicios de Pandas. 

Estos ejercicios están diseñados para desafiar tu conocimiento sobre manipulación de datos con Pandas. 
Se dividen en varias secciones, desde la creación de Series y DataFrames hasta tareas más complejas de manipulación y análisis de datos.

### 1. Importar Pandas
Importa la librería de pandas y asígnale el alias `pd`.

In [2]:
# Tu código aquí
import pandas as pd

### 2. Imprimir la versión de Pandas
Imprime la versión de la librería de pandas que acabas de importar.

**Pista:** `__version__`

In [3]:
# Tu código aquí
print(pd.__version__)

2.3.2

### 3. Crear una Serie a partir de una lista
Crea una Serie de pandas a partir de la siguiente lista.

In [4]:
mi_lista = [1, 2, 3, 4, 5]
# Tu código aquí
serie = pd.Series(mi_lista)
print(serie)

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Pista:** `pd.Series()`

### 4. Crear un DataFrame a partir de un diccionario
Crea un DataFrame de pandas a partir del siguiente diccionario.

In [5]:
datos = {'col1': [1, 2], 'col2': [3, 4]}
# Tu código aquí
df = pd.DataFrame(datos)
print(df)

   col1  col2
0     1     3
1     2     4

**Pista:** `pd.DataFrame()`

### 5. Importar un archivo CSV
Importa el archivo `colesterol.csv` de la carpeta `sprint2/db` a un DataFrame llamado `df`.

**Pista:** `pd.read_csv()`

In [6]:
# Tu código aquí
importarArchivo = pd.read_csv("C:/Users/WIGUSA/Documents/Github/AI-Fundamentals-Guayerd-IBM/sprint2/db/colesterol.csv", sep=';',decimal=',')

In [7]:
importarArchivo

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

### 6. Mostrar las primeras 5 filas del DataFrame
Muestra las primeras 5 filas del DataFrame `df`.

**Pista:** `.head()`

In [8]:
# Tu código aquí
importarArchivo.head()  # Muestra las primeras filas del DataFrame

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

### 7. Mostrar las últimas 5 filas del DataFrame
Muestra las últimas 5 filas del DataFrame `df`.

**Pista:** `.tail()`

In [9]:
# Tu código aquí
importarArchivo.tail()  # Muestra las últimas filas del DataFrame

                             nombre  edad sexo   peso  altura  colesterol
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

### 8. Obtener información del DataFrame
Obtén información sobre el DataFrame `df`, incluyendo el tipo de datos de cada columna.

**Pista:** `.info()`

In [10]:
# Tu código aquí
importarArchivo.info()  # Muestra información sobre el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 804.0+ bytes

### 9. Obtener estadísticas descriptivas del DataFrame
Obtén estadísticas descriptivas para las columnas numéricas en el DataFrame `df`.

**Pista:** `.describe()`

In [13]:
# Tu código aquí
importarArchivo.describe()  # Muestra estadísticas descriptivas del DataFrame

            edad        peso     altura  colesterol
count  14.000000   13.000000  14.000000   13.000000
mean   38.214286   70.923077   1.768571  220.230769
std    15.621379   16.126901   0.115016   39.847948
min    18.000000   51.000000   1.580000  148.000000
25%    24.750000   61.000000   1.705000  194.000000
50%    35.000000   65.000000   1.755000  210.000000
75%    49.750000   78.000000   1.840000  249.000000
max    68.000000  109.000000   1.980000  280.000000

### 10. Seleccionar una columna
Selecciona la columna 'edad' del DataFrame `df`.

In [ ]:
# Tu código aquí

### 11. Seleccionar múltiples columnas
Selecciona las columnas 'edad' y 'colesterol' del DataFrame `df`.

In [ ]:
# Tu código aquí

### 12. Seleccionar filas por índice
Selecciona las primeras 3 filas del DataFrame `df`.

**Pista:** `iloc`

In [ ]:
# Tu código aquí

### 13. Filtrar datos
Selecciona las filas donde la 'edad' es mayor a 50.

In [ ]:
# Tu código aquí

### 14. Filtrar con múltiples condiciones
Selecciona las filas donde la 'edad' es mayor a 50 y el 'sexo' es 'M'.

In [ ]:
# Tu código aquí

### 15. Comprobar valores nulos
Comprueba si hay valores nulos en el DataFrame `df`.

**Pista:** `.isnull().sum()`

In [ ]:
# Tu código aquí

### 16. Rellenar valores nulos
Rellena cualquier valor nulo en la columna 'colesterol' con la media de la columna.

**Pista:** `.fillna()`

In [ ]:
# Tu código aquí

### 17. Eliminar filas con valores nulos
Crea un nuevo DataFrame `df_sin_nulos` que no contenga filas con valores nulos.

**Pista:** `.dropna()`

In [ ]:
# Tu código aquí

### 18. Renombrar columnas
Renombra la columna 'sexo' a 'género'.

**Pista:** `.rename()`

In [ ]:
# Tu código aquí

### 19. Aplicar una función a una columna
Crea una nueva columna 'edad_en_meses' aplicando una función a la columna 'edad'.

**Pista:** `.apply()`

In [ ]:
# Tu código aquí

### 20. Ordenar el DataFrame
Ordena el DataFrame `df` por la columna 'edad' en orden descendente.

**Pista:** `.sort_values()`

In [ ]:
# Tu código aquí

### 21. Agrupar datos
Agrupa el DataFrame por 'sexo' y calcula el colesterol medio para cada grupo.

**Pista:** `.groupby()`

In [ ]:
# Tu código aquí

### 22. Contar valores únicos
Cuenta el número de hombres y mujeres en la columna 'sexo'.

**Pista:** `.value_counts()`

In [ ]:
# Tu código aquí

### 23. Pivotar un DataFrame
Crea una tabla dinámica que muestre el colesterol medio para cada combinación de 'sexo' y 'fumador'.

**Pista:** `pd.pivot_table()`

In [ ]:
# Tu código aquí

### 24. Unir DataFrames (Merge)
Crea dos DataFrames y únelos en una columna común.

**Pista:** `pd.merge()`

In [ ]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
# Tu código aquí

### 25. Concatenar DataFrames
Concatena `df1` y `df2`.

**Pista:** `pd.concat()`

In [ ]:
# Tu código aquí

### ... y muchos más ejercicios para que practiques!
Continúa con los siguientes 75 ejercicios para convertirte en un experto en Pandas.